.Product_Detaile_Info_Container {
  display: flex;
  justify-content: space-between;
}

.Product_Detail_Outfit_Container {
  display: flex;
  margin-top: 60px;
}

.Product_Explanation {
  display: none;
}

.Product_Review_Container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.Submit_Button_Container{
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

@media (max-width: 390px) {
  .Product_Detaile_Info_Container {
    display: flex;
    justify-content: flex-start;
  }

  .Product_Explanation {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .Product_Explation_Content {
    margin-top: 15px;
  }

  .Product_Detail_Outfit_Container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
}
