.Input_Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.Input_Wrapper > :last-child {
  margin-top: 40px;
}

.SignUp_Button_Wrapper{
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.Input_Container > span {
  font-size: 15px;
  margin-top: 5px;
  color: #0085d1;
}

@media (max-width: 390px){
  .Input_Container > span {
    font-size: 10px;
  }

  .SignUp_Button_Wrapper{
    height: 20%;
  }
  
}