.Header_Logo_Image {
  background-color: pink;
  width: 130px;
  height: 33px;
  cursor: pointer;
}

.Header_Tab_Content {
  color: black;
  font-weight: 500;
}

.Header_Profile_Container {
  display: flex;
  align-items: center;
  width: 200px;
}

.Header_Profile_Container > span {
  margin-left: 10px;
  margin-right: 10px;
}

.DropDown_Button {
  font-size: 30px;
  cursor: pointer;
}