.Brand_Tab_Container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Brand_Tab_Container > * {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  color: rgb(29, 29, 29);
  cursor: pointer;
}

.Top_Rank_Tab {
  font-size: 14px;
  margin-top: 20px;
}

.Search_Nav_Tab {
  font-size: 14px;
  margin-top: 20px;
}

.Mobile_Auth_Off {
  display: none;
}

.Mobile_Auth_Container {
  display: flex;
}

.Mobile_Auth_Container > a {
  font-size: 22px;
  font-weight: bolder;
}

.Mobile_Auth_On {
  margin-top: 20px;
}

.Mobile_Logout_Container > button {
  background-color: white;
  border: none;
  font-size: 22px;
  font-weight: bolder;
}
