.logo-container {
  display: flex;
  align-items: center;
}

.square {
  width: 40px;
  height: 39.7px;
  background-color: #cc0000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.letter {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 28px;
}

.text {
  font-weight: bold;
  font-size: 18px;
}