.Product_Container {
  background-color: white;
  width: 170px;
  height: 220px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Product_Image_Wrapper {
  width: 170px;
  height: 160px;
  background-color: hsl(0deg 0% 90.2%);
}

.Product_Name_Wrapper {
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 5px;
}

.Product_Name_Wrapper > span {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}

@media (max-width: 390px) {
  .Product_Container{
    width: 150px;
    height: 200px;
  }

  .Product_Image_Wrapper{
    width: 150px;
    height: 150px;
  }

  .Product_Name_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 50px;
  }

  .Product_Name_Wrapper > span {
    font-size: 12px;
    font-weight: 500;
    height: 100%;
  }
}
